.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 23vw;
  color: white;
}

.title {
  font-family: var(--main-font-bold);
  font-size: 2rem;
}

.countdown {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 0.5rem;
}

.timerValue,
.timerText {
  margin: 0;
}

.timerValue {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: var(--main-font-bold);
}

.timerText {
  font-size: 1rem;
  font-family: var(--main-font);
}

.buttonContainer {
  align-self: end;
}

.button {
  margin-top: 5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: white;
  border: 1px solid white;
  font-size: 1.5rem;
  color: black;
  font-family: var(--main-font);
  cursor: pointer;
}

.button:hover {
 transform: translateY(-1px);
}

.arrow {
  transition: all 0.2s ease-in;
  display: inline-block;
}

.button:hover > .arrow {
  transform: translateX(5px);
}
