.details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsCardLight,
.detailsCardDark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  background-color: white;
  width: fit-content;
  min-width: 50vw;
  height: auto;
  padding: 2rem 1rem 2rem 1rem;
}

.detailsCardLight {
  border: 2px solid black;
}

.shipImage {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 2px solid black;
  color: black;
  font-family: var(--main-font);
  padding-left: 1rem;
  font-size: 1.5rem;
  width: 40vw;
}

.link {
  text-decoration: none;
  color: black;
}

.backButton {
  align-self: flex-start;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: var(--main-font);
  font-size: 1.5rem;
}

.button:hover {
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .detailsCardLight,
  .detailsCardDark {
    flex-direction: column;
    min-width: unset;
    width: 90vw;
    padding: 1rem;
  }

  .info {
    width: 100%;
    font-size: 1.2rem;
    border-left: none;
    border-top: 2px solid black;
    padding-left: 0;
    padding-top: 1rem;
  }

  .emblem {
    width: 10rem;
  }
}

@media (max-width: 375px) {
  .info {
    font-size: 1rem;
  }

  .emblem {
    width: 8rem;
  }

  .button {
    font-size: 1.2rem;
  }
}
