.buttonContainer {
  align-self: end;
}

.button {
  margin-top: 5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: white;
  border: 1px solid white;
  font-size: 1.5rem;
  color: black;
  font-family: var(--main-font);
  cursor: pointer;
}

.button:hover {
 transform: translateY(-1px);
}

.arrow {
  transition: all 0.2s ease-in;
  display: inline-block;
}

.button:hover > .arrow {
  transform: translateX(5px);
}