.launchPage {
  margin: 2rem 1rem 0rem 1rem;
}

.launches {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5vw;
  color: white;
  font-family: var(--main-font);
}

.button {
  font-size: 1.5rem;
  font-family: var(--main-font);
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.button:hover {
  transform: translateY(-2px);
}

.footerDark,
.footerLight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
}

.footerLight {
  color: black;
}

.pageNumber {
  color: inherit;
  font-family: var(--main-font);
  font-size: 1.5rem;
}

.totalPages {
  font-family: var(--main-font);
  color: inherit;
  opacity: 0.8;
  font-size: 1rem;
}

.totalResults {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  opacity: 0.8;
  font-family: var(--main-font);
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  gap: 11vw;
}

.inputDark,
.selectDark,
.inputLight,
.selectLight {
  background-color: white;
  border: 2px solid white;
  font-size: 1rem;
  font-family: var(--main-font);
  padding: 0.2rem;
  box-sizing: border-box;
}

.inputLight,
.selectLight {
  border: 2px solid black;
}

.resultNumberDark,
.resultNumberLight {
  color: white;
  justify-self: end;
}

.resultNumberLight {
  color: black;
}
