.shipCardDark, .shipCardLight {
  border: none;
  display: flex;
  flex-direction: column;
  background-color: gray;
  color: black;
}

.shipCardLight {
  border: 2px solid black;
  background-color: white;
}

.shipImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.shipInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
}

.shipName {
  font-size: 1.5rem;
  margin: 0;
  font-family: var(--main-font-bold);
}